@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {

  .box {
    @apply bg-black hover:cursor-pointer p-1 rounded-md gap-x-2 whitespace-nowrap w-auto lg:w-[20%] relative flex-shrink-0 flex items-center justify-center z-[1000] h-[80%]
  }

  /* .box:hover::after {
    @apply from-cyan-500 to-green-500
  }

  .box:hover::before {
    @apply from-cyan-500 to-green-500
  } */

  .box::after {
    @apply absolute content-[''] bottom-0 bg-gradient-to-tr  rounded-md gap-x-2 whitespace-nowrap w-full z-[-10] flex-shrink-0 flex items-center justify-center h-[3%]
  }

  .box::before{
    @apply absolute content-[''] top-0 bg-gradient-to-tr  rounded-md gap-x-2 whitespace-nowrap w-full z-[-10] flex-shrink-0 flex items-center justify-center h-[3%]
  }

  .box-text {
    @apply text-transparent bg-clip-text  bg-gradient-to-tr
  }

  .desktop-link{
    @apply relative cursor-pointer text-base 
  }

  .desktop-link::after {
 @apply absolute content-[''] w-0 will-change-['width'] h-0.5 bg-white -bottom-1 left-0 transition-all
  }


  .desktop-link.active::after,
  .desktop-link:hover::after {
    @apply w-full

  }

  .hero-h1 {
    @apply lg:mb-[-12px] pr-[3px] inline-block mx-1
  }

  .progress-bar {
    webkit-mask-image: linear-gradient(0deg, transparent, #fff 150px, #fff);
    mask-image: linear-gradient(0deg, transparent, #fff 150px, #fff);
    @apply overflow-hidden w-[0.125rem] h-full z-[-10] top-4 left-[2px] bg-gray-800 absolute
   }

   .progress-bar::after {
  content: var(--tw-content);
  position: absolute;
  animation: shine 5s linear 500ms infinite;
  --tw-translate-y: -100%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  background-image: linear-gradient(180deg, transparent, rgb(168 85 247 / .65) 25%, #e9d5ff 50%, rgb(168 85 247 / .65) 75%, transparent);
  width: 0.125rem;
  height: 1rem;
  left: 0px;
  top: 0px;
  }


}
